{% extends 'base.html.twig' %}

{% block title %}Edit category{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Edit category</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_category_index') }}">
                    View all categories
                </a>
            </div>
            <div class="card-body">
                {% include 'category/_form.html.twig' with {'button_label': 'Update category', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}




